/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.btn{
    border-radius: 30px;
    text-decoration: none;
    color: black;
}


/* header */
.container-top header{
    height: 80px;
    background-color: #2a5ee8;
}

.container-top header .content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}


.container-top header .content .logo{
    width: 20%;
    height: 80px;
    float: left;
    line-height: 80px;
}

.container-top header .content nav{
    width: 60%;
    height: 80px;
    float: left;
}

.container-top header .content .login{
    width: 20%;
    height: 80px;
    float: left;
}

header .content .logo svg{
    vertical-align: middle;
}

.container-top header .content nav ul{
    line-height: 80px;
    text-align: center;
}

.container-top header .content nav li{
    display: inline-block;
    margin-right: 30px;
}

.container-top header .content nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.container-top header .content nav li:hover a{
    text-decoration: underline;
}

.container-top header .content .login{
    line-height: 80px;
    text-align: right;
}

.container-top header .content .login a{
    vertical-align: middle;
    padding: 10px 12px;
    background-color: white;
}

.container-top header .content .login a:hover{
    color: #7289da;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

/* section jumbotron */
section.jumbotron{
    min-height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

section.jumbotron .contain{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 52%;
}

section.jumbotron .contain h1{
    font-size: 56px;
    font-weight: 700;
    color: white;
}

section.jumbotron .contain p{
    margin: 35px 0 50px;
    font-size: 20px;
    line-height: 32px;
    color: white;
}

section.jumbotron .contain a.download{
    background-color: white;
    padding: 16px 32px;
    margin-right: 20px;
}

section.jumbotron .contain a.download:hover{
    color: #7289da;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

section.jumbotron .contain a.browser{
    background-color: black;
    padding: 16px 32px;
    color: white;
}

section.jumbotron .contain a.browser:hover{
    background-color: #36393f;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}



/* debug */
.debug .container-top header .content{
    background-color: yellow;
}

.debug .container-top header .content .logo{
    background-color: red;
}

.debug .container-top header .content nav{
    background-color: pink;
}

.debug .container-top header .content .login{
    background-color: green;
}

.debug section.jumbotron{
    background-color: brown;
}

.debug section.jumbotron .contain{
    background-color: green;
}