/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.btn{
    border-radius: 30px;
    text-decoration: none;
    color: black;
}


/* header */
.container-top header{
    height: 80px;
    background-color: #2a5ee8;
}

.container-top header .content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}


.container-top header .content .logo{
    width: 20%;
    height: 80px;
    float: left;
    line-height: 80px;
}

.container-top header .content nav{
    width: 60%;
    height: 80px;
    float: left;
}

.container-top header .content .login{
    width: 20%;
    height: 80px;
    float: left;
}

header .content .logo svg{
    vertical-align: middle;
}

.container-top header .content nav ul{
    line-height: 80px;
    text-align: center;
}

.container-top header .content nav li{
    display: inline-block;
    margin-right: 30px;
}

.container-top header .content nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.container-top header .content nav li:hover a{
    text-decoration: underline;
}

.container-top header .content .login{
    line-height: 80px;
    text-align: right;
}

.container-top header .content .login a{
    vertical-align: middle;
    padding: 10px 12px;
    background-color: white;
}

.container-top header .content .login a:hover{
    color: #7289da;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

/* section jumbotron */
section.jumbotron{
    min-height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

section.jumbotron .contain{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 52%;
}

section.jumbotron .contain h1{
    font-size: 56px;
    font-weight: 700;
    color: white;
}

section.jumbotron .contain p{
    margin: 35px 0 50px;
    font-size: 20px;
    line-height: 32px;
    color: white;
}

section.jumbotron .contain a.download{
    background-color: white;
    padding: 16px 32px;
    margin-right: 20px;
}

section.jumbotron .contain a.download:hover{
    color: #7289da;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

section.jumbotron .contain a.browser{
    background-color: black;
    padding: 16px 32px;
    color: white;
}

section.jumbotron .contain a.browser:hover{
    background-color: #36393f;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}


/* main */
main section:nth-of-type(even){
    background-color: #f6f6f6;
}

main section .content{
    width: 80%;
    margin: 0 auto;
    padding: 120px 0;
}

main section .content .content-img,
main section .content .content-text{
    float: left;
}

main section .content .content-text{
    width: calc(100% - 678px);
    padding: 40px 0 0 70px;
}

main section .content .content-text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

main section .content .content-text p{
    margin-top: 24px;
    font-size: 20px;
    line-height: 32px;
}

main .wave svg{
    color: #f6f6f6;
    display: block;
}

main .wave:nth-of-type(even){
    transform: rotate(180deg);
}

/* footer */
footer{
    background-color: #23282A;
    padding: 80px 0 64px;
}

footer .content{
    width: 80%;
    margin: 0 auto;
}

footer .content .top .block{
    float: left;
}

footer .content .top .block h4{
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    color: #7289DA;
}

footer .content .top .block .language{
    margin-top: 24px;
}

footer .content .top .block .language img{
    width: 24px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

footer .content .top .block .name-language{
    color: white;
}

footer .content .top .block .ico-social{
    margin-top: 24px;
}

footer .content .top .block .ico-social a{
    color: white;
    font-size: 25px;
    margin-right: 20px;
}

footer .content .top .block ul{
    padding: 8px 0 0 80px;
}

footer .content .top .block ul li{
    display: block;
    line-height: 30px;
    color: white;
}

footer .content .top .block ul li.title{
    color: #7289DA;
}

footer .content .bottom{
    margin-top: 40px;
    border-top: 1px solid #7289DA;
}

footer .content .bottom .logo{
   line-height: 100px;
   float: left;
}

footer .content .bottom .logo svg{
    vertical-align: middle;
}

footer .content .bottom .sign-in{
    line-height: 100px;
    float: right;
 }

 footer .content .bottom .sign-in a{
     background-color: #7289DA;
     padding: 12px 14px;
     color: white;
 }

 footer .content .bottom .sign-in a:hover{
     background-color: #8ea1e1;
 }


/* debug */
.debug .container-top header .content{
    background-color: yellow;
}

.debug .container-top header .content .logo{
    background-color: red;
}

.debug .container-top header .content nav{
    background-color: pink;
}

.debug .container-top header .content .login{
    background-color: green;
}

.debug section.jumbotron{
    background-color: brown;
}

.debug section.jumbotron .contain{
    background-color: green;
}

.debug main{
    background-color: coral;
}

.debug main section .content{
    background-color: darkturquoise;
    border: 1px solid black;
}

.debug main section .content .content-img{
    background-color: burlywood;
}

.debug main section .content .content-text{
    background-color: mediumpurple;
}

.debug footer .content{
    height: 100%;
    background-color: brown;
}

.debug footer .content .top{
    background-color: chartreuse;
    border: 2px solid red;
}

.debug footer .content .bottom{
    background-color:darkgoldenrod;
    height: 100px;
}

.debug footer .content .top .block{
    width: calc(100% / 5);
    height: 300px;
    background-color: darkgray;
}

.debug footer .content .bottom .logo{
    background-color: yellow;
}